<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.stall_manage.mapper.DishMapper">
    <select id="find" resultType="org.example.stall_manage.pojo.Dish">
        SELECT * FROM dish
        <where>
            AND `is_delete`=0
            <if test="stallId != null">
                AND `stall_id`=#{stallId}
            </if>
            <if test="name != null and name != ''">
                AND `name`=#{name}
            </if>
            <if test="price !=null">
                AND `price`=#{price}
            </if>
        </where>
    </select>
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `dish`(`stall_id`,`name`,`price`,`is_sold_out`)
        VALUES (#{stallId},#{name},#{price},#{isSoldOut});
    </insert>
</mapper>