<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="org.lab.stall_manage.mapper.StallMapper">
        <select id="find" resultType="org.lab.stall_manage.pojo.Stall">
            SELECT * FROM stall
                <where>
                    AND `is_delete`=0
                    <if test="id !=null">
                        AND `id`=#{id}
                    </if>
                    <if test="name !=null and name!=''">
                        AND `name`=#{name}
                    </if>
                </where>
            ORDER BY `id` ASC
        </select>
        <insert id="add" useGeneratedKeys="true" keyProperty="id">
            INSERT INTO `stall` (`name`,`current_status`,`noon_location`,`evening_location`,`noon_start_time`,`noon_end_time`,`evening_start_time`,`evening_end_time`)
            VALUES (#{name},#{currentStatus},#{noonLocation},#{eveningLocation},#{noonStartTime},#{noonEndTime},#{eveningStartTime},#{eveningEndTime});
        </insert>
        <update id="delete">
            UPDATE `stall` SET is_delete=1 WHERE id IN 
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
        </update>
        <update id="update">
            UPDATE `stall`
            <set>
                <if test="name !=null and name != ''">
                    `name`=#{name},
                </if>
                <if test="currentStatus != null">
                    `current_status`=#{currentStatus},
                </if>
                <if test="noonLocation != null and noonLocation != ''">
                    `noon_location`=#{noonLocation},
                </if>
                <if test="eveningLocation != null and eveningLocation !=''">
                    `evening_location`=#{eveningLocation},
                </if>
                <if test="noonStartTime != null">
                    `noon_start_time`=#{noonStartTime},
                </if>
                <if test="noonEndTime != null">
                    `noon_end_time`=#{noonEndTime},
                </if>
                <if test="eveningStartTime != null">
                    `evening_start_time`=#{eveningStartTime},
                </if>
                <if test="eveningEndTime != null">
                    `evening_end_time`=#{eveningEndTime},
                </if>
            </set>
            WHERE `id`=#{id} AND `is_delete`=0
        </update>
</mapper>
